section {
	margin-bottom: 16px;
	p {
		margin: 2px;
	}
	> img {
		width: 200px;
		height: 200px;
	}
}

.hearth {
	width: 24px;
	cursor: pointer;
}

.like-container {
	display: flex;
	align-items: center;
}

.comment-container{
	display: flex;
	flex-direction: column;
	gap: 8px;
	margin-bottom: 8px;
}

.container-comment-border{
	border: 1px solid black;
}
