<section>
    <p>{{index}}: {{post.name}}</p>
    <img src="{{post.img}}"alt="{{post.name}}">
    <p class="like-container">
      @if(hasLiked(index) >= 0){
        <img class="hearth" (click)="toggleLike(index)" src="../../assets/img/heart-red.png" alt="liked">
      } @else{
        <img class="hearth" (click)="toggleLike(index)" src="../../assets/img/heart-black.png" alt="no like"> 
      }
      {{post.like.length}}
    </p>
    <div class="comment-container" [ngClass]="{'container-comment-border': (post.comments.length > 0)}">
      @for (comment of post.comments; track $index) {
        <p>Kommentar {{$index}}: {{comment}}</p>
      }
    </div>
      <div>
        <input type="text" [(ngModel)]="commentText"> 
        <button (click)="addComment(index, commentText)">add Comment</button>
      </div>
</section>
